<app-header></app-header>

<div class="container">
  <h2 class="heading-lg">Task:</h2>
  <p class="heading-sm">Create applications to test password strength.</p>
  
  <h2 class="heading-lg">The essence of the assignment:</h2>
  <ul>
    <li class="heading-md">Create a field for entering a password, under the field add 3 sections which will show the strength of the password;</li>
    <li class="heading-md">Changes in password strength must take place in real time;</li>
    <li class="heading-md">
      How to calculate the strength of a password:
      <ol>
        <li class="heading-sm">Only letters/digits/symbols - the password is easy;</li>
        <li class="heading-sm">Combination of letters-symbols/letters-digits/digits-symbols - the password is medium;</li>
        <li class="heading-sm">Has letters, symbols and numbers - the password is strong;</li>
      </ol>
    </li>
    <li class="heading-md">
      The color of the sections will depend on the strength of the password:
      <ol>
        <li class="heading-sm">If the field is empty, all sections are gray;</li>
        <li class="heading-sm">If the field has less than 8 characters, all sections are red;</li>
        <li class="heading-sm">If the password is easy - the first section is red the rest are gray;</li>
        <li class="heading-sm">If the password is medium - the first two sections are yellow the last one is gray;</li>
        <li class="heading-sm">If the password is strong, all sections are green;</li>
      </ol>
    </li>
  </ul>
</div>