:root {
  /* Fonts */
    
  --font-black: #000000;
  --font-gold: gold;
  --font-blue: lightblue;

  /* Password Colors */

  --base-pass-color: grey;
  --easy-pass-color: red;
  --medium-pass-color: yellow;
  --strong-pass-color: green;
}