<div class="password-form__container">
  <form class="password-form" #passwordForm="ngForm">
    <label class="password-form__label heading-sm" for="password">Password</label>
    <input 
      class="password-form__input" 
      type="password" 
      id="password"
      [(ngModel)]="password" 
      name="password" 
      placeholder="Enter your password"
      (ngModelChange)="onPasswordChange($event)" 
    />
  </form>

  <div class="strength-bars">
    <div class="bar" [ngStyle]="{'background-color': getBarColor(0)}"></div>
    <div class="bar" [ngStyle]="{'background-color': getBarColor(1)}"></div>
    <div class="bar" [ngStyle]="{'background-color': getBarColor(2)}"></div>
  </div>
</div>
